<div class="project-detail-container">
  <div class="back-button-container">
    <a routerLink="/">
      <svg-icon
        src="assets/icons/back.svg"
        [svgStyle]="{ 'height.px': 30, 'width.px': 30 }"
      />
    </a>
  </div>
  <h1 class="project-details-title">Project Details</h1>
  <app-project-owner-detail-card
    [name]="project?.owner?.login"
    [imgUrl]="project?.owner?.avatar_url"
    [loading]="loading"
  />
  <app-project-detail-card [project]="project" [loading]="loading" />
</div>
