.search-bar {
  display: flex;
  > input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 10px;
    width: 300px;
    border: 1px solid #0072a3;
    border-right: none;
  }
  > button {
    margin: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
