<div class="project-list-container">
  <div class="search-bar-container">
    <app-search-bar [onSearch]="searchProjectsByName" />
    <p class="search-error-message" *ngIf="!!error">{{ error }}</p>
  </div>
  <div class="clr-row" *ngIf="!loading">
    <app-project-card
      class="clr-col-12 clr-col-sm-6 clr-col-lg-4"
      *ngFor="let project of projects"
      (click)="openProjectDetails(project.owner.login, project.name)"
      [name]="project.name"
      [stars]="project.stargazers_count"
    />
  </div>
  <div class="clr-row" *ngIf="loading">
    <app-project-card
      class="clr-col-12 clr-col-sm-6 clr-col-lg-4"
      *ngFor="let temp of loadingArray"
    />
  </div>
</div>
